---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
import Activity from '../components/Activity.astro';
---

<Layout title="HubSpot CMS Developer & Frontend Developer | Felix Macaspac" description="I'm Felix Macaspac, a HubSpot CMS Developer and Frontend Developer. I specialize in creating custom HubSpot themes and modules using HubL, HTML, CSS, JavaScript, and React.">
  <main class="min-h-screen">
    <Hero />
    <Experience />
    <Projects />
    <Activity />
    <Footer />
  </main>
</Layout>