@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-default;
  }

  body * {
    @apply transition-colors duration-300 ease-in-out;
  }
}

@layer components {
  .hero__heading {
    @apply text-5xl text-primary font-display relative sm:text-7xl md:text-9xl dark:text-white;
  }

  .hero__heading::before {
    @apply text-xs text-primary-400 font-medium font-default absolute -top-6 -left-2 sm:text-base dark:text-opacity-80 dark:text-white;
    content: "I AM";
  }

  .hero__heading::after {
    @apply text-xs text-primary-400 font-medium font-default absolute -bottom-6 -right-10 sm:text-base dark:text-opacity-80 dark:text-white;
    content: "FRONT-END DEVELOPER";
  }
}

.react-tabs__tab--selected {
  @apply bg-secondary-400 dark:bg-secondary;
}

@layer components {
  .modal {
    z-index: 100;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.12),
      0px 1px 4px rgba(0, 0, 0, 0.04);
  }

  .modal-overlay {
    @apply fixed top-0 bottom-0 right-0 left-0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.61);
  }
}

@layer components {
  .featured-alt:nth-child(odd) .featured-no {
    @apply -left-20;
  }

  .featured-alt:nth-child(even) .featured-no {
    @apply -right-20;
    z-index: 1;
  }
}

@layer components {
  .loading-wrapper {
    @apply w-full h-full fixed top-0 left-0 bg-primary grid items-center transition-all delay-300;
  }

  .loading {
    @apply animate-spin border-8 rounded-full border-solid border-neutral w-[140px] h-[140px] transition-all delay-300;
  }
}
